body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

nav {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: antiquewhite;
}


.jumbotron {
    background-image: url("../images/binder.jpg");
    background-size: cover;
    background-position: center center;
    font-family: 'IM Fell Double Pica SC', serif;
    text-align: center;
    color: black;
    text-shadow: 2px 2px #fcd084
}

h2, h4 {
    font-family: 'IM Fell Double Pica', serif;
}

.special-subheading {
    background-color: black;
    color: white;
}

.center-float {
    position: center;
    margin: auto;
    display: block;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
